@(usuarioPage: com.avaje.ebean.PagedList[Usuario],
usuariosLast: List[Usuario],
logsLast: List[Log])

@usuario() = @{
    Http.Context.current().args.get("usuario").asInstanceOf[Usuario]
}

@views.html.admin.main(Messages("app.title") + " | Dashboard") {

<div class="col-md-12">
    <div class="page-header header-biogas">
        <div class="btn-group btn-breadcrumb pull-right">
            <a href="@routes.AdminController.painel()" class="btn btn-default"><i class="fa fa-home"></i></a>
            <a class="btn btn-static">Início</a>
        </div>
        <h1 class="font-style"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</h1>
    </div>
</div>

<div class="col-md-12">
    <section class="jumbotron">
        <h1>Painel do admin</h1>
        <p>Bem vindo, <strong>@usuario.getNome()</strong>! este é seu painel. Aqui você poderá acessar as informacoes cadastradas.</p>
    </section>
</div>

@if(usuario.isAdmin) {
<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-users"></i> Últimos Usuários Cadastrados</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @for(usuario <- usuariosLast) {
                <li class="list-group-item">
                    <span class="pull-right text-muted small"><em> @usuario.getDataCadastro.format("dd MMMM yyyy")</em></span>
                    <a href="@routes.UsuarioController.telaDetalhe(usuario.getId)"><span>@usuario.getNome</span></a>
                </li>
                }
            </ul>
            <div class="text-right">
                <a href="@routes.UsuarioController.telaLista()">
                    Visualizar todos os Usuários <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file"></i> Logs Registrados</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                @for(log <- logsLast) {
                <li class="list-group-item">
                    <span class="pull-right text-muted small"><em> @log.getDataCadastro.getTime.format("dd MMMM yyyy - HH:mm:ss")</em></span>
                    <span>@log.getMensagem</span>
                </li>
                }
            </ul>
            <div class="text-right">
                <a href="@routes.LogController.telaLista()">Visualizar todos os Logs <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
}

}