@(mensagem:String)(tipoMensagem:String)
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-3.3.7/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/backend/custom/mensagens.css")">
    <title>@Messages("app.title") - @Messages("app.error.access")</title>
</head>
<body>
<div class="row">
    <div class="container-fluid">
        <div class="mensagens">
            <div class="panel panel-@tipoMensagem">
                <div class="panel-heading">
                    <a type="button" href="@routes.UsuarioController.telaLista()" class="pull-right btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-arrow-left"></span> voltar
                    </a>
                    <h1 class="panel-title">@Messages("app.messages.title")</h1>
                </div>
                <div class="panel-body">
                    <p class="text-@tipoMensagem text-center">@mensagem</p>
                </div>
                <div class="panel-footer text-center">&copy <script>document.write(new Date().getFullYear())</script> - Prototype</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>